{% extends "layout.html" %}

{% block title %}

    Sell sstocks:

{% endblock %}

{% block main %}

    <h1>Sell Stocks</h1>

    <form action="/sell" method="POST">
        <div class="form-group">
            <label for="symbol">Stock symbol</label>
            <select class="form-control" id="symbol" name="symbol">
                <option value="">Select a stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <p></p>
        <div class="form-group">
            <label for="shares">Number of shares</label>
            <input type="text" class="form-control" id="shares" name="shares" placeholder="Enter number of shares">
        </div>

        <button type="submit" class="btn btn-primary">Sell</button>
    </form>

{% endblock %}
